.hideMe {
    visibility: hidden;
}

.unhideMe{
    visibility: visible;
}

.line {
    height: 2px;
    background: yellow;

}

.top {
    height: 100px;
}

.darkMode {
    background: black;
    color: whitesmoke;    
}